@media (max-width: 600px) {
  table {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .responsive-column {
    display: none;
  }
}

.custom-btn {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.428571429;
}
